@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

header{
    background: #efb475;
    padding: 15px 750px 60px;
     
}

#logo{
    width: 94%;
    margin-left: -740px;
}

.produtos{
    background-color:#f18f28;
    padding-top: -290px;
    padding-bottom: 15px;
    padding-left: 150px;
    
}

h1{
    padding-top: 10px;
    font-size: 50px;
    color: white;
    font-family: "Arimo", sans-serif;
}
.bordas {
    
    padding-bottom: 120px; 
    display: flex; 
    gap: 80px; 
    justify-content: 
    space-around; 
    justify-content: center; 
} 

.retangulo { 
   
    width: 270px; 
    height: 260px;
    border: 2px solid #3caa5d;
 }